.item .log .hljs-line {
  display: block;
  /* background: #171717; */
  padding: 3px 0;
  padding-right: 10px;
  padding-left: 5px; /* standard left padding for pre/code blocks */
  margin-left: -5px;
  border-radius: 0 4px 4px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: fit-content;
  max-width: 100%;
  box-sizing: border-box;
}
.item .log .hljs-line .hljs-tag {
  /* color: #79e; */
  color: #999;
  background: #222;
  padding: 1px 4px;
  border-radius: 4px;
  text-decoration: none;
}
.item .log {
  overflow: hidden; /* improves look of truncated lines */
}
.item pre {
  margin-top: 0; /* move margin to inner code.log, which can be hidden */
}
.item .log.suggest {
  margin-top: 5px;
}
