.core_js_table {
  margin-top: 5px;
}

/* override .item br:last-child */
.core_js_table br:last-child {
  display: inline;
}

/* leave 3px above comment tables */
.core_js_table table.comment {
  margin-top: 3px;
}

/* minimize width of left column w/o wrapping for comment tables */
/* need to override .item code for white-space: nowrap */
.core_js_table table.comment > tbody > tr > td:first-child,
.core_js_table table.comment > tbody > tr > td:first-child code {
  width: 1%;
  text-align: right;
  white-space: nowrap;
}

.core_js_table .function {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

:root {
  --bullet-width: 2px;
}

.core_js_table .bullet {
  background: #444;
  display: inline-block;
  vertical-align: middle;
  width: var(--bullet-width);
  height: 100%;
  margin-right: 1px;
  position: absolute;
  top: 0;
  left: 0;
}

.core_js_table .bullet + .bullet {
  margin-right: 8px;
  left: 3px;
}

.core_js_table .bullet:is(.test, .benchmark) {
  background: #f55; /* indicates error, modified by .ok below */
}

.core_js_table .bullet.test.ok {
  background: #7b7;
}

.core_js_table .bullet.benchmark.ok {
  background: #4ae;
}

.core_js_table .function {
  margin-top: 1px;
}

.core_js_table .function.expand {
  margin-top: 5px;
}

/* round corners of first and last usage */
.core_js_table .function:first-child .usage {
  border-top-right-radius: 5px;
}
.core_js_table .function:last-child .usage {
  border-bottom-right-radius: 5px;
}

/* style .usage, left column of main table */
.core_js_table .usage {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  position: relative;
  padding: 5px; /* important for vertical spacing and filling line-height */
  padding-left: 12px;

  /* use monospace fonts */
  font-family: 'jetbrains mono', monospace;
  font-size: 90%;
  line-height: 170%;

  /* truncate text at fixed width (compare to 500-750px column width) */
  width: 270px; /* reduced below on smaller screens */
  min-width: 270px;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;

  /* round on right side in case background is assigned (e.g. for errors) */
  background: #171717;
}

/* reduce .usage max-width based on screen size */
@media only screen and (max-width: 600px) {
  .core_js_table .usage {
    width: 220px;
    min-width: 220px;
  }
}
@media only screen and (max-width: 500px) {
  .core_js_table .usage {
    width: 170px;
    min-width: 170px;
  }
}
@media only screen and (max-width: 400px) {
  .core_js_table .usage {
    width: 140px;
    min-width: 140px;
  }
}

/* remove background for inline code in .usage since already monospace */
.core_js_table .usage code {
  background: none;
}

/* fade and space function arguments */
.core_js_table .usage .args {
  color: #999;
  font-size: 90%;
}

/* fade parentheses around args */
.core_js_table .usage .args .parens {
  color: #444;
}

/* add background to .usage for errors */
.core_js_table .function.error .usage {
  background: rgba(255, 0, 0, 0.25);
}

.core_js_table .function.error.expand .usage {
  background: rgba(255, 0, 0, 0.25);
}

/* style .desc, right column of main table */
.core_js_table .desc {
  padding-left: 10px;
  /*position: relative;*/ /* allows absolute-positioned .more-indicator below */
}
/* disable wrapping on .desc (and override .item code) for ellipsis */
.core_js_table .desc,
.core_js_table .desc code {
  white-space: nowrap;
}

/* disable paragraph tags added by markdown */
.core_js_table .desc p {
  display: inline;
}

/* force links inline to allow ellipsis */
.core_js_table .desc p a {
  display: inline;
}

/* change cursor on expandable descriptions (w/ .more/.less)*/
.core_js_table .function:is(.expandable, .expand) {
  cursor: pointer;
}

/* style more indicator on expandable desc */
.core_js_table .more-indicator {
  /* display: block; */
  /* position: absolute; */
  /* top: 0; */
  /* left: -4px; */
  margin-left: 5px;
  opacity: 0.5;
}

.core_js_table .more-indicator::before {
  content: '▾';
}

/* show/hide .more/.less inside expanded .function */
/* expand by default in .pushable items */
.core_js_table .more {
  display: none;
}
.core_js_table .function.expand .more,
.container.pushable .core_js_table .function.expandable:not(.collapse) .more {
  display: block;
}
.core_js_table .function.expand .less,
.container.pushable .core_js_table .function.expandable:not(.collapse) .less {
  display: none;
}
/* add background and bottom margin to expanded .desc */
.core_js_table .function.expand .desc,
.container.pushable .core_js_table .function.expandable:not(.collapse) .desc {
  display: block;
  white-space: normal;
  background: #171717;
  margin-bottom: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-left: var(--bullet-width) solid #444;
}
/* enable wrapping on expanded .usage */
.core_js_table .function.expand .usage,
.container.pushable .core_js_table .function.expandable:not(.collapse) .usage {
  white-space: pre-wrap;
  width: auto;
  background: #222;
  padding-right: 8px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0;
}

/* style js_table modals (usage->function, test, and benchmark) */
.core_js_table_modal .title {
  font-family: 'jetbrains mono', monospace;
  font-weight: 600;
  font-size: 90%;
  padding-bottom: 5px;
}
/* override .modal code for font size and weight */
.core_js_table_modal .title code {
  font-weight: 600;
  font-size: 100%; /* keep relative to .title */
}
/* fade/space/shrink function arguments in title */
.core_js_table_modal .title .args {
  color: #555;
  font-size: 80%;
  margin-left: 5px;
}
.core_js_table_modal .title .args .parens {
  color: #bbb;
  font-weight: 400;
}
/* style code (pre) section */
.core_js_table_modal pre {
  margin-top: 2px; /* space from .title */
  padding: 3px 0;
}
/* style title for test and benchmark modals */
.core_js_table_modal .title:is(.test, .benchmark) .summary {
  color: #c33; /* indicates error, modified by .ok below */
}
.core_js_table_modal .title.test .summary.ok {
  color: #3a3;
}
.core_js_table_modal .title.benchmark .summary.ok {
  color: #39d;
}

/* style benchmark results (markdown table wrapped in .results) */
.core_js_table_modal .results {
  background: #222;
  color: #ccc;
  padding: 3px 0;
  border-radius: 4px;
  margin-top: 2px; /* space from .title above */
  margin-bottom: 8px; /* space from pre below */
  max-height: 40vh; /* max 40% of viewport height (up to 80% w/ pre below) */
  overflow: scroll;
  font-family: 'jetbrains mono', monospace;
  /* font size and line height matches .modal pre > code (Modal.svelte) */
  /* including reduced sizes (see below) on smaller screens */
  font-size: 12px;
  line-height: 19px;
}
@media only screen and (max-width: 600px) {
  .core_js_table_modal .results {
    font-size: 11px;
    line-height: 18px;
  }
}
@media only screen and (max-width: 400px) {
  .core_js_table_modal .results {
    font-size: 10px;
    line-height: 17px;
  }
}
.core_js_table_modal .results table thead {
  display: none;
}
.core_js_table_modal .results table td {
  vertical-align: top;
}
.core_js_table_modal .results table td:first-child {
  padding-left: 6px;
  padding-right: 8px;
  text-align: right;
}
/* style summary text in benchmark modal */
.core_js_table_modal .title .summary {
  margin-left: 10px; /* space from title */
  font-size: 90%;
}

.core_js_table_modal .buttons {
  float: right;
  font-family: 'jetbrains mono', monospace;
  font-size: 90%;
}
.core_js_table_modal .buttons a {
  padding: 0 6px;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block; /* aligns much better around text */
  margin-left: 5px; /* space from link (or nothing) on left */
  font-weight: 600;
  background: #555;
  /* background: #f75; */
  color: white;
}
.core_js_table_modal .buttons :is(.test, .benchmark) {
  background: #f55; /* indicates error, modified by .ok below */
}
.core_js_table_modal .buttons .test.ok {
  background: #7b7;
}
.core_js_table_modal .buttons .benchmark.ok {
  background: #4ae;
}

/* styles for running state */
.core_js_table_modal.running .run {
  background: #777;
  pointer-events: none;
  cursor: not-allowed;
}
.core_js_table_modal.running :is(.results, .summary, .run) {
  opacity: 0.5;
}

/* reduce modal .title and .button fonts based on screen size */
@media only screen and (max-width: 600px) {
  .core_js_table_modal :is(.title, .buttons) {
    font-size: 85%;
  }
}
@media only screen and (max-width: 500px) {
  .core_js_table_modal :is(.title, .buttons) {
    font-size: 80%;
  }
}
@media only screen and (max-width: 400px) {
  .core_js_table_modal :is(.title, .buttons) {
    font-size: 75%;
  }
}
